{% extends 'base.html' %}

{% block content %}
{% if task_id %}
<h1>Cmd has been queued:</h1>
<pre>{{ cmd }}</pre>
<p>Task ID: {{ task_id }}</p>
{% else %}
<h1>Github-Hook Config:</h1>
<table>
    <tr>
        <th style="text-align:right"><strong>Payload URL:</strong></th>
        <td style="text-align:left">https://{{ site.domain }}{% url 'github_trigger_salt_command' key=saltcommand.key %}</td>
    </tr>
    <tr>
        <td style="text-align:right"><strong>Content type:</strong></td>
        <td style="text-align:left">application/json</td>
    </tr>
    <tr>
        <td style="text-align:right"><strong>Secret:</strong></td>
        <td style="text-align:left">{{ saltcommand.github_secret }}</td>
    </tr>
</table>
{% endif %}
{% endblock %}
